<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>learning</title>
  </head>
  <body>
    <div id="app">
      {{ message | capitalize }}
      <a :title="message" href="#">This is a link</a>
      <p v-if="seen">You can see me</p>
      <p v-if="notSeen">You cannot see me</p>
      <ol>
        <todo-item 
          v-for="todo in todos"
          :todo="todo"
          :key="todo.id"></todo-item>
      </ol>
      <button @click="reverseMessage">Reverse</button>
      <input v-model="message" />
      <p>Computed Text {{ computedMessage }}</p>
      <div class="orginal" :class="classObject">class</div>
      <div :class="computedClassObject">computed class</div>
      <div :class="[activeClass, errorClass]">Array class</div>
      <div :class="[isActive ? activeClass : '', errorClass]">Conditional class</div>
      <div :class="[{ active: isActive }, errorClass]">Simplified conditional class</div>
      <div :style="styleObject">Styled text</div>
      <template v-if="ok">
        <h1>Rendered</h1>
        <p>Hello World!</p>
        <p>Second paragraph</p>
      </template>
      <div v-else>bbbbb</div>
      <template v-if="ok">
        <label>Username</label>
        <input type="text" placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input type="text" placeholder="Enter your email" key="email-input">
      </template>
      <button @click="toggleInput">Toggle</button>
      <ul>
        <li v-for="(todo, index) in todos">{{ message }} - {{ index }} - {{ todo.text }}</li>
      </ul>
      <ul>
        <template v-for="(value, key) in username">
          <li>{{ key }}: {{ value }}</li>
          <li> separator............</li>
        </template>
      </ul>
      <ul>
        <li v-for="n in 10">{{ n }}</li>
      </ul>

      <input id="one" type="radio" value="One" v-model="picked">
      <label for="one">One</label>
      <input id="two" type="radio" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br />
      <span>Picked: {{ picked }}</span>

      <local-component></local-component>

      <table>
        <tr is="my-row"></tr>
      </table>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
