<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>learning</title>
  </head>
  <body>
    <div id="app">
      <section-content title="Async Component">
        <div slot="slot1">
          <async-example></async-example>
        </div>
      </section-content>
      <section-content title="Dynamic Content">
        <div slot="slot1">
          <component :is="currentView"></component>
        </div>
      </section-content>
      <section-content title="Slot Section">
        <p>This is slot section</p>
        <p slot="slot1">This is named slot</p>
        <template scope="props">
          <p>{{ props.text }}</p>
        </template>
      </section-content>
      <h1>Form control</h1>
      <hr />
        <number-input v-model="total"></number-input>
        <my-checkbox v-model="no"></my-checkbox>
      <hr />
      <h1>Event popup</h1>
      <hr />
        <p>{{ total }}</p>
        <button-counter @increment="incrementTotal"></button-counter>
        <button-counter @increment="incrementTotal"></button-counter>
        <button-counter :child-total.sync="total"></button-counter>
      <hr />
      <h1>Props</h1>
      <hr />
        <input v-model="message" />
        <child message="Hello!!" :my-message="message"></child>
        <child message="Hello!!" :my-message="1"></child>
        <child message="Hello!!" my-message="1" abc="23324"></child>
      <hr />
      {{ message | capitalize }}
      <a :title="message" href="#">This is a link</a>
      <p v-if="seen">You can see me</p>
      <p v-if="notSeen">You cannot see me</p>
      <ol>
        <todo-item 
          v-for="todo in todos"
          :todo="todo"
          :key="todo.id"></todo-item>
      </ol>
      <button @click="reverseMessage">Reverse</button>
      <input v-model="message" />
      <p>Computed Text {{ computedMessage }}</p>
      <div class="orginal" :class="classObject">class</div>
      <div :class="computedClassObject">computed class</div>
      <div :class="[activeClass, errorClass]">Array class</div>
      <div :class="[isActive ? activeClass : '', errorClass]">Conditional class</div>
      <div :class="[{ active: isActive }, errorClass]">Simplified conditional class</div>
      <div :style="styleObject">Styled text</div>
      <template v-if="ok">
        <h1>Rendered</h1>
        <p>Hello World!</p>
        <p>Second paragraph</p>
      </template>
      <div v-else>bbbbb</div>
      <template v-if="ok">
        <label>Username</label>
        <input type="text" placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input type="text" placeholder="Enter your email" key="email-input">
      </template>
      <button @click="toggleInput">Toggle</button>
      <ul>
        <li v-for="(todo, index) in todos">{{ message }} - {{ index }} - {{ todo.text }}</li>
      </ul>
      <ul>
        <template v-for="(value, key) in username">
          <li>{{ key }}: {{ value }}</li>
          <li> separator............</li>
        </template>
      </ul>
      <ul>
        <li v-for="n in 10">{{ n }}</li>
      </ul>

      <input id="one" type="radio" value="One" v-model="picked">
      <label for="one">One</label>
      <input id="two" type="radio" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br />
      <span>Picked: {{ picked }}</span>

      <local-component></local-component>

      <table>
        <tr is="my-row"></tr>
      </table>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
